<head>
  <script>
    $(document).ready( function () {
      dataTable()
    });
    </script>
</head>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Notes</b></h1>
    <% if current_user %>
      <h1 class="w3-xxxlarge w3-text-red"><b>Welcome, <%= current_user.name %></b></h1>
    <% else %>
      <h1 class="w3-xxxlarge w3-text-red"><b>Sign in for Notes!</b></h1>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>

    <% if current_user && @user_notes.length > 0 %>
    <h1>Your Notes</h1>
    <table id="notes">
      <thead>
      <tr>
        <th>Subject</th>
        <th>Body</th>
        <th>Created At</th>
        <th>Delete</th>
      </tr>
      <thead>
      <tbody>
        <% @user_notes.each do |n| %>
          <%= form_for(n) do |f| %>
            <tr id="<%= n.id %>">
              <td><%= f.text_field "Subject", value: n.subject, id: "#{n.id.to_s}_subject", class: "note-item" %></td>
              <td><%= f.text_field "Body", value: n.body, id: "#{n.id.to_s}_body", class: "note-item" %></td>
              <td><%= time_ago_in_words(n.created_at) %></td>
              <td><%= link_to 'Destroy',  { action: :destroy, id: n.id, controller: :notes }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %> </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>
</body>
</html>
